<div class="container-fluid">

  <div class="row ml-5 mt-5">
    <h2 class="ml-3 badge-light">商品編集</h2>
  </div>


  <%= form_with model: @item, url: admin_item_path(@item), local: true do |f| %>
  <div class="row m-4">
    <div class ="mx-4 my-auto"><%= f.label :商品画像　　%></div>
    <div class ="mx-4 my-auto"><%= f.attachment_field :item_image, placeholder: "ファイルを選択" %></div>
  </div>
  <div class="row m-4">
    <div class ="mx-4 my-auto"><%= f.label :商品名　　　%></div>
    <div class ="mx-4 my-auto"><%= f.text_field :name, placeholder: "商品名", size: "40" %></div>
  </div>
  <div class="row m-4">
    <div class ="mx-4 my-auto"><%= f.label :商品説明　　%></div>
    <div class ="mx-4 my-auto"><%= f.text_area :explanation, placeholder: "ここに説明文を記述します",size: "39x10" %></div>
  </div>
  <div class="row m-4">
    <div class ="mx-4 my-auto"><%= f.label :ジャンル　　%></div>
    <div class ="mx-4 my-auto"><%= f.collection_select  :genre_id, Genre.all, :id, :name, include_blank: "--選択してください--" %></div>
  </div>
  <div class="row m-4">
    <div class ="mx-4 my-auto"><%= f.label :税抜価格　　%></div>
    <div class ="mx-4 my-auto"><%= f.text_field :no_tax_price, placeholder: "1000",size: "40" %>円</div>
  </div>
  <div class="row m-4">
    <div class ="ml-4 my-auto"><%= f.label :販売ステータス　　%></div>
    <div class ="mr-4 my-auto"><%= f.radio_button :is_active, false %>販売中</div>
    <div class ="mx-4 my-auto"><%= f.radio_button :is_active, true %>販売停止中</div>
  </div>
  <div class ="mx-4 my-auto text-center"><%= f.submit '変更を保存', class: "btn btn-success"  %></div>
  <% end %>


</div>


