<div class="container-fluid">
  <div class="row ml-5 mt-5">
    <div class="col-3 text-center">
      <h2 class="ml-3 badge-light">注文履歴詳細</h2>
    </div>
　</div>
　<div class="row">
　  <div class="col-2 font-weight-bold ml-4">
　    <h5>購入者</h5>
　    <h5>注文日</h5>
　    <h5>配達先</h5>
　    <h5 class="mb-5">支払い方法</h5>
　    <h5>注文ステータス</h5>
　  </div>
　  <div class="col-8">
　    <h5><%= @order.member.family_name %><%= @order.member.first_name %></h5>
　    <h5><%= l @order.created_at, format: :short %></h5>
　    <h5>〒<%= @order.shipping_post_code %>　<%= @order.shipping_address %>　<%=@order.shipping_name %></h5>
　    <h5><%= @order.payment_method_i18n %></h5>
　    <div>
　      <%= form_with model: @order, url:admin_order_path(@order), method: :patch do |f| %>
          <%= f.select :order_status, Order.order_statuses_i18n.invert %>
          <%= f.submit '更新',class: 'btn btn-success ml-4' %>
        <% end %>
　    </div>
　  </div>
　</div>
　<div class="row ml-2">
　  <div class="col-8">
    　<table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class>商品名</th>
            <th class>単価（税込）</th>
            <th class>数量</th>
            <th class>小計</th>
            <th class>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.ordered_items.each do |ordered_item| %>
            <tr>
              <% @total_price += ordered_item.subtotal %>
              <td><%= ordered_item.item.name %></td>
              <td><%= ordered_item.item.with_tax_price %></td>
              <td><%= ordered_item.amount %></td>
              <td><%= ordered_item.subtotal %></td>
              <td class="text-center">
                <%= form_with model: ordered_item, url:admin_ordered_item_path(ordered_item), method: :patch do |f| %>
                  <%= f.select :making_status, OrderedItem.making_statuses_i18n.invert %>
                  <%= f.submit '更新',class: 'btn btn-success ml-4' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3 font-weight-bold d-flex align-items-end mb-2">
      <div>
        <h4>商品合計　　　　<%= @total_price%>円</h4>
        <h4>送料 　　　　　　 800円</h3>
        <h4>請求合計金額　　<%= @total_price + 800 %>円</h4>
      </div>
    </div>
  </div>
</div>
