<div class="container-fluid">
  <div class="row ml-5 mt-5">
    <div class="col-6">
      <h2 class="ml-3 badge-light">注文履歴詳細</h2>
    </div>
　</div>
　<div class="row">
　  <div class="col-2">
　    <div>購入者</div>
　    <div>注文日</div>
　    <div>配達先</div>
　    <div>支払い方法</div>
　    <div>注文ステータス</div>
　  </div>
　  <div class="col-8">
　    <% @ordered_item.each do |ordered_item| %>
　    <div>
　      <%= ordered_item.order.member.family_name %>
        <%= ordered_item.order.member.first_name %>
      </div>
　    <div><%#=ordered_item.order %></div>
　    <div><%= ordered_item.order.shipping_address %></div>
　    <div><%= ordered_item.order.payment_method %></div>
　    <div>
　      <%= form_with model: orders, local: true do |f| %>
          <%#= f.select :order_status options_from_collection_for_select(Order.all, :id, :order_status) %> %>
          <%= f.submit '更新',class: 'btn btn-success ml-4' %>
        <% end %>
　    </div>
　    <% end %>
　  </div>
　</div>
　<div class="row">
　  <div class="col-8">
    　<table class="table table-bordered">
        <thead class="table-secondary">
          <tr>
            <th class>商品名</th>
            <th class>単価（税込）</th>
            <th class>数量</th>
            <th class>小計</th>
            <th class>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @ordered_item.each do |ordered_item| %>
            <tr>
              <% @total_price += ordered_item.item.cart_item.subtotal %>
              <td><%= ordered_item.item.name %></td>
              <td><%= ordered_item.item.with_tax_price %></td>
              <td><%= ordered_item.amount %></td>
              <td><%= cart_item.subtotal %></td>
              <td class="text-center">
                <%= form_with model: ordered_item, local: true do |f| %>
                  <%#= f.select :making_status options_from_collection_for_select(OrderedItem.all, :id, :making_status) %>
                <%= f.submit '更新',class: 'btn btn-success ml-4' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <% @ordered_item.each do |ordered_item| %>
      <div>
        <div>商品合計<%= @total_price%></div>
        <div>送料<%= ordered_item.order.postage %></div>
        <div>請求合計金額<%= @total_price + ordered_item.order.postage %></div>
      </div>
    </div>
  </div>
</div>
