<div class="container">
  <h2>ログイン</h2> </br>
 <div class="row">
   <div class="col-xs-offset-1 col-xs-11">
     <span>会員の方はこちらからログイン</span> </br></br>
   </div>
 </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="row mb-3">
    <div class="col-6 col-md-4">
      <%= f.label :メールアドレス %>
    </div>
    <div class="col-md-8">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  </div>
 
  <div class="row md-3">
    <div class="col-6 col-md-4">
      <%= f.label :パスワード %>
    </div>
    <div class="col-md-8">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
<%= flash[:error] %>

<h2>会員登録がお済みではない方</h2>

<%= render "member/shared/links" %>

</div>