<div class="container-fluid">
  <div class="row ml-5 mt-5">
    <div class="col-3 text-center">
      <h2 class="ml-3 badge-light">注文履歴一覧</h2>
    </div>
　</div>
</div>
<div class="row mx-5 mt-5">
  <div class="col-12">
    <table class="table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th class="col-1">注文日</th>
          <th class="col-4">配送先</th>
          <th class="col-2">注文商品</th>
          <th class="col-1">支払い金額</th>
          <th class="col-1">ステータス</th>
          <th class="col-1">注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @ordered_items.each do |ordered_item| %>
        <% @total_price += cart_item.subtotal %>
        <tr>
          <td><%= ordered_item.order.created_at, format: :short %></td>
          <td>
            <%= ordered_item.order.shipping_post_code %></br>
            <%= ordered_item.order.shipping_address %></br>
            <%= ordered_item.order.shipping_name %>
          </td>
          <td><%= ordered_item.item.name %></td>
          <td><%= @total_price %></td>
          <td><%= ordered_item.order.order_status %></td>
          <td><%= link_to '表示する', order_path(order),class: "btn btn-primary" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>